<% layout("layouts/boilerplate") %>

    <body>

        <h1>hi hello this is Home Page</h1>
        <a href="/blogs/allcontents"> blogs</a>

        <form action="/blogs/addcontent" method="post">

            <label for="">titel</label>
            <input type="text" required name="content[titel]">
            <br><br>

            <label for="">Discription</label>
            <input type="text" required name="content[discription]">
            <br><br>
            
            <label for="">img url</label>
            <input type="text" required name="content[img]">
            <br><br>
            


            <button>add</button>

        </form>

    </body>