<%- layout("layouts/boilerplate")%>


<body>
    
    <h4>sign-up page</h4><br>

<form action="/user/adduser" method="post">




<label for="">user name</label>
<input type="text" required name="user[name]"><br>
<label for="">email</label>
<input type="text"required name="user[email]"><br>
<label for="">password</label>
<input type="password" required name="user[password]"><br>

<button>sig-up</button>

</form>


</body>